<div class="footer mt-3">
    <hr/>
    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>About</b></h5>
                <p class="text-light">We provide a platform where you can check price of any product which is available on different e-commerce websites like
                    <b>Amazon, Flipkart,Ajio</b> etc. which help you to purchase that product on a cheaper price.</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>Further Information</b></h5>
                <ul class="list-unstyled text-light">
                    <li>Terms and Conditions</li>
                    <li>Privacy and policy</li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>Contact</b></h5>
                <ul class="list-unstyled text-light">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:+917542895855">+91 8521292794</a>
                    </li>
                    <li>
                        <i class="fas fa-envelope-square"></i>
                        <a href="mailto:rancho.kartar@gmail.com">rancho.kartar@gmail.com</a>
                    </li>
                    <li>
                        <i class="fab fa-linkedin"></i>
                        <a href="https://www.linkedin.com/in/itsravikumar/" target="blank">itsravikumar</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-1  text-warning fs-6">
        <p> Copyright © 2021: Ravi Kumar<br/>All Right Reserved.</p>
    </div>

</div>