{% load static %}
{% block css_file %}
    <link rel="stylesheet" type="text/css" href={% static "css/search.css" %}>
    <script src="https://kit.fontawesome.com/daf086dc64.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <div class="text-center mt-2">
        {% if error == True %}
            <div class="alert alert-danger" role="alert">
                Product name or e-commerce name must not be empty!
            </div>
        {% endif %}
        <h1 class="heading text-light">Compare Product's Info</h1>
    </div>
    <div class="container">
        <form method="POST" action="/searchProduct">
            {% csrf_token %}
            <div class="row justify-content-md-center mt-3">
                <div class="col-lg-8 col-sm-12 d-flex">
                    <input type="text" class="search" value="{{search}}" name="search" placeholder="what are you looking for?"/>
                    <button type="button " class="search-btn" >
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <fieldset class="mt-3 row justify-content-md-center">
                    <div class="col-lg-8 col-sm-12 bg-light p-2">
                        <legend>Get from</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="flipkart" 
                            {% if 'flipkart' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="flipkart">
                            <label class="form-check-label" for="flipkart">flipkart</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="amazon" 
                            {% if 'amazon' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="amazon">
                            <label class="form-check-label" for="amazon">amazon</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="shopclues" 
                            {% if 'shopclues' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="shopclues">
                            <label class="form-check-label" for="shopclues">shopclues</label>
                        </div>
                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="myntra"
                            {% if 'myntra' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="myntra">
                            <label class="form-check-label" for="myntra">myntra</label>
                        </div><div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="snapdeal" 
                            {% if 'snapdeal' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="snapdeal">
                            <label class="form-check-label" for="snapdeal">snapdeal</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="websites" id="ajio" 
                            {% if 'ajio' in weblist %} 
                                checked="checked"
                            {% endif %}
                            value="ajio">
                            <label class="form-check-label" for="ajio">ajio</label>
                        </div> -->
                    </div>
                </fieldset>
            <!--   <fieldset class="mt-3 row justify-content-md-center">
                    <div class="col-lg-8 col-sm-12 bg-light p-2">
                        <legend>Sort By</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortBy" id="rating" value="rating">
                            <label class="form-check-label" for="rating">Customer Rating</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortBy" id="LowToHigh" checked value="lTh">
                            <label class="form-check-label" for="LowToHigh">Price-low to high</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortBy" id="HighToLow" value="hTl">
                            <label class="form-check-label" for="HighToLow">Price-high to low</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortBy" id="Discount" value="discount">
                            <label class="form-check-label" for="Discount">Better Discount</label>
                        </div>
                    </div>
                </fieldset>--> 
                <fieldset class="mt-3 row justify-content-md-center">
                    <div class="col-lg-8 col-sm-12 bg-light p-2">
                        <legend>View As</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="view" id="tabular"  value="tabular">
                            <label class="form-check-label" for="tabular">Tabular</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="view" id="grid" checked value="grid">
                            <label class="form-check-label" for="grid">Grid</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>


    <div class="container mt-4">
        <div class="row justify-content-md-center">
            {% if val == "grid" %}
                {% for item in lists %}
                    <div class="col-lg-3  m-2 p-2 card_style">
                        <div class="row g-0">  
                            <div class="col-md-4">
                                <p>{{item.0}}</p>
                                <img src="{{item.img}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col ">
                                        {% if item.website == 'flipkart' %}
                                            <img class="icon" src={% static "img/flipkart.png" %}>
                                        {% elif item.website == 'amazon' %}
                                            <img class="icon" src={% static "img/amazon.png" %}>
                                        {% elif item.website == 'shopclues' %}
                                            <img class="icon" src={% static "img/shopclues.png" %}>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <div class="card-body">
                                            <h6 class="card-text text-muted">{{item.brand}}</h6>
                                            <p class="card-text" id='desc'>{{item.desc}}</p>
                                            <div class="price">
                                                <span id="price1">{{item.price}}</span>
                                                <span class="text-decoration-line-through text-muted">{{item.originalPrice}}</span> 
                                            </div>
                                            <div class="text-success">
                                                {{item.discount}}
                                            </div>
                                            <!--   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                                            <a href="{{item.link}}" class="btn btn-primary" target="blank">Buy now</a>
                                            <button  onclick="save('{{item.desc}}','{{item.price}}','{{item.link}}','{{item.id}}','{{item.website}}','{{user}}')" class="btn btn-primary">get alert</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            {% elif val == "tabular" %}
                <table class="table table-dark table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product title</th>
                        <th scope="col">Deal Price</th>
                        <th scope="col">Price</th>
                        <th scope="col">Discount</th>
                        <th scope="col">From</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in lists %}    
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a class="text-decoration-none" href="{{item.link}}" target="blank">{{item.desc}}</a></td>
                                <td>{{item.price}}</td>
                                <td>{{item.originalPrice}}</td>
                                <td>{{item.discount}}</td>
                                <td>{{item.website}}</td>
                                <td><button onclick="save('{{item.desc}}','{{item.price}}','{{item.link}}','{{item.id}}','{{item.website}}','{{user}}')" class="btn btn-primary">get alert</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             {% endif %}
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    function save(title,price,link,id,web,user){
        console.log(user)
        if (user == 'AnonymousUser')
            alert("Login required")
        else{
        // var pr=document.getElementById('desc')
            $.ajax({
                type: "POST",
                url: 'userLogin/subscribe' ,
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',title:title,price:price,link:link,id:id,website:web},  
                success: function callback(response){
                            /* do whatever with the response */
                            alert(response);
                }
            });
        }
    }
</script>
